@import 'https://fonts.googleapis.com/css?family=Roboto:300, 400, 500';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  padding-top: 5rem;
}

.card-footer {
  border: 1px solid #cad3de;
  background-color: #e6f0fd;
  color: #6b7076;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;
  padding: 3px 12px;
}

.form-control {
  color: #000;
}

.btn-cancel,
.btn-save {
  padding: 12px 23px;
  margin: 0;
  font-weight: bold;
  font-size: 0.875rem;
  text-decoration: none !important;
}

.btn.btn-save {
  color: #006bd0 !important;
}

.btn-remove {
  padding: 5px 17px;
  margin: 0;
  text-decoration: none !important;
  font-size: 1.5rem;
}

.btn-cancel {
  cursor: default;
  pointer-events: none;
}

.btn-placeholder {
  width: 52px;
  height: 48px;
}
